body {
    min-height: 3000px;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #78b2e7;
}

section {
    padding-top: 7rem;
    scroll-margin-top: 90px;
    position: relative;
    z-index: 1;
}

#about h2 {
    margin-top: 1rem;
}

#projects {
    background-color: #78b2e7;
}

.navbar {
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

svg {
    display: block;
}

footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}


footer p {
  margin: 0;               /* hapus margin bawaan p */
}



