body {
    min-height: 3000px; /* tadi kurang px */
}

html {
    scroll-behavior: smooth; /* biar scroll halus */
}

.jumbotron {
    padding-top: 6rem;
    background-color: #78b2e7;
}

#projects {
    background-color: #78b2e7;
}

/* JARAK AMAN SAAT LONCAT KE SECTION */
section {
    padding-top: 5rem;
}



footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}





